
$user-list-contact-padding: 0.2rem;
$user-list-contact-height: 3rem;

.user-profile {
  background-color: aquamarine;
  flex-shrink: 0;
}

.user-list {
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding-left: $user-list-contact-padding;
  padding-right: $user-list-contact-padding;
}

.user-list-contact {
  background-color: beige;
  cursor: pointer;
  flex-shrink: 0;
  margin-bottom: $user-list-contact-padding;
  margin-top: $user-list-contact-padding;
}

.user-list-contact-avatar {
  height: $user-list-contact-height;
  width: $user-list-contact-height;
}

.user-list-contact-info {
  flex-direction: column;
  padding-left: $grid-gutter-width-base / 2;
  padding-right: $grid-gutter-width-base / 2;
}

.user-list-contact-name {
  font-weight: bold;
}

.user-list-contact-status {
  font-style: italic;
}
