
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './left-pane.scss';
@import './right-pane.scss';

$header-height: 4rem;
$content-padding: 0.5rem;
$left-pane-width: 24rem;

html, body, #chat, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#chat, #root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: $header-height;

  nav {
    height: 100%;
  }
}

.content {
  display: flex;
  height: calc(100% - #{$header-height});
  padding-bottom: $content-padding;
  padding-left: $content-padding / 2;
  padding-right: $content-padding / 2;
  padding-top: $content-padding;

  div {
    display: flex;
  }
}

.pane {
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  padding-left: $content-padding / 2;
  padding-right: $content-padding / 2;
}

.left-pane {
  width: $left-pane-width;
}

.right-pane {
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - #{$left-pane-width});
}
