
$chat-input-padding: 0.3rem;
$chat-messages-padding: 0.3rem;

.chat-title {
  background-color: antiquewhite;
  flex-shrink: 0;
}

.chat-messages {
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding-left: $chat-messages-padding;
  padding-right: $chat-messages-padding;
}

.chat-input {
  background-color: azure;
  flex-shrink: 0;
  padding: $chat-input-padding;
}

.chat-input-form {
  flex-grow: 1;
}

.chat-input-text {
  flex-grow: 1;
  padding-right: $chat-input-padding;

  .form-control {
    width: 100%;
    height: 100%;
  }
}

.chat-input-button {
  flex-shrink: 0;
}
